#outer
{
width:1200px;
height:2200px;
border:1px solid;
margin: 0px auto;
}
#blanknav
{
width:1200px;
height:150px;
}
#blank
{
width:809px;
height:150px;
float:left;
}
#date
{
width:391px;
height:40px;
margin-top:110px;
float:right;
font-size:24px;
}

#nav
{
width:1200px;
height:150px;
}
#newsbox
{
width:400px;
height:150px;
border:1px solid transparent;
background-color:#63BEEA;
float:left;
}
#news
{
width:300px;
height:130px;
margin-left:100px;
margin-top:10px;
font-size:105px;
color:white;
}
#letter
{
width:300px;
height:130px;
margin-top:10px;
margin-left:10px;
font-size:105px;
float:left;
}
#descriptionbox
{
width:390px;
height:150px;
border:1px solid transparent;
background-color:#63BEEA;
float:right;
}

#description
{
width:300px;
height:130px;
margin-left:10px;
margin-top:10px;
font-size:22px;
text-align:justify;
color:white;
}

#para
{
width:1000px;
height:50px;
margin-left:100px;
margin-top:15px;
font-size:19px;
}

#linetop
{
width:1200px;
height:12px;
background-color:#63BEEA;
}

#main
{
width:1100px;
height:1000px;
border:1px solid transparent;
margin-top:10px;
margin-left:100px;
}

#left
{
width:550px;
height:1000px;
float:left;
}

#heading1 h1
{
font-size:44px;
}

#line2
{
width:550px;
height:6px;
background-color:grey;
}

#leftl
{
width:260px;
height:800px;
float:left;
}

#leftltop
{
width:260px;
height:400px;
margin-top:10px;
font-size:22px;
text-align:justify;
}

#leftlbottom
{
width:260px;
height:400px;
margin-top:10px;
font-size:22px;
text-align:justify;
}

#leftr
{
width:260px;
height:800px;
margin-top:10px;
font-size:22px;
text-align:justify;
float:right;
}


#right
{
width:500px;
height:1000px;
float:right;
}

#righttop
{
width:500px;
height:20px;
margin-top:10px;
background-color:#63BEEA;
}

#imgbox
{
width:500px;
height:850px;
}

#imgbox img
{
width:495px;
height:850px;
}

#rightbottombox
{
width:495px;
height:120px;
border:1px solid transparent;
background-color:#63BEEA;
}

#rightbottomcontent
{
width:400px;
height:120px;
margin-left:30px;
margin-top:10px;
font-size:70px;
color:white;
}

#footer
{
width:1100px;
height:600px;
margin-left:100px;
}

#footerl
{
width:600px;
height:600px;
float:left;
}

#footerlimg img
{
width:560px;
height:200px;
}

#heading2 h2
{
font-size:35px;
}

#linebelowimg
{
width:560px;
height:20px;
background-color:#63BEEA;
}

#linebelowh2
{
width:560px;
height:10px;
background-color:grey;
}

#l
{
width:380px;
height:220px;
float:left;
}

#r
{
width:180px;
height:220px;
margin-right:25px;
float:right;
}

#r img
{
width:180px;
height:190px;
margin-top:15px;
margin-right:15px;
float:right;
}

#p
{
width:370px;
height:100px;
}

#m img
{
width:100px;
height:100px;
float:left;
}

#ml
{
width:255px;
height:100px;
margin-left:10px;
font-size:20px;
text-align:justify;
float:left;
}

#belowp
{
width:370px;
height:100px;
font-size:20px;
text-align:justify;
}

#lastlinel
{
width:560px;
height:10px;
margin-top:20px;
background-color:#63BEEA;
}


#footerr
{
width:500px;
height:590px;
margin-top:10px;
background-color:#63BEEA;
float:right;
}

li
{
color:white;
margin-right:100px;
text-align:justify;
font-size:22px;
}

.whiteline
{
width:360px;
height:6px;
margin-left:40px;
margin-right:100px;
background-color:white;
}